*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000000;
}

::-webkit-scrollbar{
    display: none;
}

body{
    background-image: linear-gradient(to top left, #ffa600a5, #0000007d),  
    url(../img/pexels-lumn-399161.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}

section::-webkit-scrollbar{
    height: 100vh;
    scroll-behavior: smooth;
}


.container{
   width: 1000px;
   height: 100vh;
   margin-inline: auto;
   backdrop-filter: blur(4px);
   border-radius: 3.2rem;
   padding: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.form,
.username,
.age,
.birth,
.comment{
    display: flex;
   flex-direction: column;
}

.form{
    width: 50%;
    padding: 1.4rem;
    background: #00000062;
    border-radius: 2.4rem;
    animation-name: slidIn;
    animation-duration: 1.6s;
}


@keyframes slidIn{
    from{
        transform: translateY(150vh);
    }
}

label{
    font-size: 1.4rem;
    text-transform: capitalize;
    color: #ffa500;
}

input{
    height: 1.8rem;
}

input,
textarea{
    border-top-right-radius: 4.4rem;
    border-bottom-right-radius: 4.4rem;
    border-bottom-left-radius: 4.4rem;
    padding: 1.4rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    background: #ffffff3f;
}

input::placeholder,
textarea::placeholder{
    color: #00000062;
   
    
}

button{
    padding: 1rem;
    font: 1.4rem;
    font-weight: bold;
    border: none;
    outline: none;
    text-transform: capitalize;
    width: fit-content;
    border-radius: 2.4rem;
    letter-spacing: 2px;
    transition: all 0.5s;
    color: #000000;
    background: #ffa500;
}

button:hover{
    background: #000000;
    color: #ffa500;
    cursor: pointer;
}

label > span{
    text-decoration: line-through;
    font-size: 1.6rem;
    font-weight: bolder;
}

footer{
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    animation-name: slidInUp;
    animation-duration: 2s;
}

@keyframes slidInUp{
    from{
        transform: translateY(150vh);
    }
}

footer > span{
    color: #ffa500;
    font-weight: bold;
}

.txtFromform{
    width: 50%;
    display: none;
    padding: 1.8rem;
    border-radius: 2.4rem;
    background: #00000062;
    margin-block-start: 5.8em;
    animation-name: slidIn;
    animation-duration: 1.6s;
}

.userNameinput,
.myAge,
.birthDate,
.userCommentedsomeThing{
    color: #ffa500;
}


@media(max-width: 500px){
    .container{
        width: 100vw;
        padding: 4px;
    }

    .form,
    .txtFromform{
        width: 100%;
    }

    label{
        font-size: 1rem;
    }

    input,
    textarea{
        font-size: 0.8rem;
    }

    footer{
        letter-spacing: 1px;
    }
}